@font-face {
  font-family: "upto-en";
  src: url('../fonts/en-upto.ttf') format('truetype');
 }
 @font-face {
  font-family: "upto";
  src: url('../fonts/upto.ttf') format('truetype');
 }
 *{
  z-index: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "upto-en";
}
.Contact{
  h1{
    display: none;
  }
}
 $blue:#439BD5;
 $purp:#524DA0;
 $white:#e1e5ec;
 $black:#231F20;

 html{
  .nav-links-mobile , .burger{
    display: none;
  }
  a{text-decoration: none;}
  overflow-x: hidden;
  background-color: $white;
  scroll-behavior: smooth;
  *{font-family: "upto-en";}
  h1{color: $purp;}
  h2{color: $blue;}
  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: $blue;
    display:flex;
    justify-content: center;
    align-items: center;
    .loader {
      display: inline-block;
      width: 30px;
      height: 30px;
      position: relative;
                           /******** <- Remove this line *********/
      border: 4px solid #Fff;
      animation: loader 2s infinite ease;
      .loader-inner {
        vertical-align: top;
        display: inline-block;
        width: 100%;
        background-color: #fff;
        animation: loader-inner 2s infinite ease-in;
      }
    }
  }
  .logo{
    width: 10%;
    margin: auto 0;
    position: relative;
    left: 0%;
    img{
      filter: drop-shadow(5px 5px 0.2rem #0000001f);
      transform-style: preserve-3d;
      transform: translateZ(30px);
      width: 10vw;
    }
  }
  nav{
    position: fixed;
    display: flex;
    padding-top:1vw;
    padding-left:1vw;
    padding-bottom: 1vw;
    z-index: 20;
    width: 100%;
    background-color: #e1e5ecd7;
    backdrop-filter: blur(20px);
    .nav-links{
      &.mobile{
        display: none;
      }
      position: relative;
      font-family: "upto-en";
      display: flex;
      margin: auto;
      
      padding-bottom: 0.5vw;
      li{
          list-style:none ;
          margin-left: 4em;
          position: relative;
      }
      a{
          position: relative;
          font-size: 1.4em ;
          color: $blue;
          text-decoration: none ;  
          text-transform: capitalize; 
          font-weight: 500;
      }
    }
    .WebColors{
      position: relative;
      display: flex;
      top: 1.1vw;
      left: -5%;

      *{
        width: 20px;
        height: 20px;
        margin-left: 10px;
        cursor: pointer;
      }
      .white{ 
        background-color: $white;
        border: 1px solid $black;
        border-radius: 10%;
      }
      .black{
        background-color: $black;
        border: 1px solid $white;
        border-radius: 10%;
      }
    }
    .language{
      position: relative;
      display: flex;
      text-align: center;
      color: $black;
      top: 0.8vw;
      left: -6%;
      p{
        margin-left: 20px;
        color: $purp;
        
      }
      .EN-lang,.AR-lang{
        cursor: pointer;
      }

    }
  }
  .parallax{
    width: 100%;
    position: relative;
    justify-content: center;
    height: 900px;
    
    .im1{
      
      width: 100%;
      height: 50%;
      img{width: inherit;}
    }
    .im2{
      
      width:100%;
      top: 60%;
      height: 50%;
      
    }
  }
  .intro{
    width: 100%;
    height: 42vw;
    display: flex;
    video{
      position: relative;
    
      padding-top: 0vw;
      margin: auto auto;
      width: 100%;
      z-index: 1;
    }
    .introlink{
     
      width: 100%;
      height: 53vw;
      position: absolute;
      z-index: 2;
      display: flex;
      a{
        background-color: #ffffffa4;
        backdrop-filter: blur(10px);
        position: relative;    
        margin: auto auto;
        top: 12vw;
        font-size: 1vw;
        text-decoration: none;
        color: $blue;
        padding-bottom: 0.4vw;
        padding-left: 0.6vw;
        padding-right: 0.6vw;
        border-radius: 0.5vw;
      }
    }
  }
  .aboutCont{
    width: 100%;
    padding-bottom: 15vw;
    position: relative;
    justify-content: center;
    z-index: 6;
    background:$white;
    .about{
    position: relative;
    padding: 0;
    top: 5vw;
    margin: 0 auto ;
    width: 50%;
    display: flex;
      #word1{
        font-size: 2vw;
        margin: auto auto;
        position: relative;
        top: -0.8vw;
        line-height: 4.5vw;
        text-align: left;
        left: 0%;
        h1{
          color: $blue;
        }
        p{
          color: $purp;
        }
      }
      #word2{
        //background-color: #dbdfe6;
        border-radius: 20px;
        position: relative;
        left: 3vw;
        padding:1vw 2vw 1.5vw 2vw;
        grid-column-start: 2;
        width: 100%;
        h2{
          font-weight: 100;
          font-size: 1.3vw;
          text-align: justify;
        }
      }
    }
  } 
  .crew{
    position: relative;
    width: 100%;
    
    height: 60vw;
    justify-content: center;
    h1{
      text-align: center;
      padding-bottom: 8vw;
      font-size: 3vw;
      color: $blue;
    }
    .crew-cont{
      margin: auto auto;
      position: relative;
      display: grid;
      grid-template-columns:  20vw 20vw 20vw 20vw;
      grid-auto-rows:  25vw;
      justify-content: space-evenly;
      width: 80%;
      height: 50vw;
      .crewP{
        border-radius: 20px;
        display: grid;
        grid-template-rows: 60% 40%;
        grid-template-columns: 100%;
        height: 100%;
        width: 100%;
        justify-content: center;
        .crewimg{
          border: 1px solid #3f3b7e;
          grid-row-start: 1;
          position: relative;
          z-index: 1;
          margin: 0 auto;
          border-radius: 20px;
          text-align: center;
          &:hover{
            img:nth-child(2){
              opacity: 1;
            }
          }
          img{
            transition: all 0.5s ease-in-out;
            width: 16vw;
            opacity: 1;
            position: relative;
            top: -61%;
            z-index: 1;            
          }
          img:nth-child(2){
            position: absolute;
            left: 0vw;
            opacity: 0;
            
          }
        }
        .crewdis{
          padding-top: 1vw;
          position: relative;
          grid-row: 2;
          z-index: 1;
          h2,p{
            position: relative;
            text-align: center;
    
            padding-top: 0vw;
            font-size: 1vw;
          }
          p{
            color:$purp ;
            font-weight: 600;
          }
        }

        
      }
    }
  }
  .partical{
    background: $white;
    height: 600px;
    width: 100%;
    
    position: relative;
    overflow:hidden;

    img{  
      position: relative;
      
      width: 5%;
      
      opacity: 0.4;
      
    }
  }
  .services{

    background:$white;
    padding-bottom: 2vw;
    
    h1{
      text-align: center;
      padding-bottom: 4vw;
      font-size: 3vw;
      color: $blue;
    }
    .servContainer{

      $mar: auto 5vw;
      display:flex;
      margin: $mar;
      a{
        pointer-events: none;
        z-index: -10;


      }
      .Cont{
        
        $allW:15.5vw;
        $ContW:5+$allW;
        $allH:40vw;
        position: relative;
        overflow: hidden;
        padding-bottom: 5vw;
        width: $allW;
        height: $allH;
        margin: 5px;
        border-radius: 20px;
        transition: all 1s ease-in-out;
        flex: 1;
        cursor: pointer;

        img{
          transition: all 1s ease-in-out;
          position: relative;
          height: $allH;
          width:$ContW;
          object-fit: cover;
          object-position: 60%;
        }
      
        .content{
          transition: width 1s ease-in-out,background-color 1s ease-in-out,height 1s ease-in-out, grid-template-rows 1s ease-in-out, top 1s ease-in-out, padding-right 1s ease-in-out;
          width:$ContW;
          padding-right:3vw ;
          height: $allH;
          background: linear-gradient(#3e9ad3c0,#514d9ec0,#222875c0);
          backdrop-filter: blur(3px);
          position: absolute;
          top: 0px;
          display: grid;
          
          h2{
            transition: font-size 1s ease-in-out,margin  1s ease-in-out,top 1s ease-in-out;
            position: relative;
            color: $white;
            margin:auto auto;
            text-align: center;
            font-size: 1.5vw;
            top: 0vw;
           
          }
          .lincont{
            transition: all 1s ease-in-out;
            position: absolute;
            width:$ContW;
            padding-right:3vw ;
            height: $allH;
            justify-content: center;

            .line{
              transition: all 1s ease-in-out;
              position: relative;
              background-color: $white;
              width: 0vw;
              height: 0.1vw;
              left: 0vw;
              top: 23vw;
              margin: auto auto;

            }
            p{
              transition: all 1s ease-in-out;
              position: relative;
              text-align:center;
              color: $white;
              font-size: 1vw;
              opacity: 0;
              width: 14.5vw;
              left: 0vw;
              top: 23vw;
              margin: auto auto;
              overflow-wrap: break-word;
            }
          }
        }
        .contGallary{
          transition: all 1s ease-in-out;
          position:relative;
          opacity: 1;
          top:0px;
          width: 100%;
      
      
          
          .pics{ 
            pointer-events: none;
            $picwid:14vw;
            justify-content: center;
            display: grid;
            
            grid-template-columns:$picwid $picwid $picwid $picwid $picwid $picwid;
            
            
            grid-auto-rows: $picwid;
            
            
            .item{
              
              position: relative;
              img{
                pointer-events: all;
                position: absolute;
                width: inherit;
                height: inherit;
                object-fit: cover;
                padding: 4px;
                border-radius: 7px;
                opacity: 0;
                
              }
              .imghove{
                transition: all 1s ease-in-out;
                pointer-events: none;
                user-select: none;
                position: absolute;
                width: 100%;
                height: 100%;
                background: linear-gradient(#439BD5cc,#524da0cc);
                backdrop-filter: blur(3px);
                z-index: 50;
                border-radius: 7px;
                text-align: center;
                cursor: crosshair;
                opacity: 1;
                a{
                  width: 100%;
                  height: 100%;
                  font-family: "upto-en";
                  color: $white;
                  position: relative;
                  z-index: 11;
                  font-size: 2vw;
                  font-weight: 900;
                  top: 40%;
                  text-decoration: none;
                }
              }
              
              
            &.z1{
              z-index: 1;
            }
            &.z2{
              z-index: 2;
            } 
            &.z3{
              z-index: 3;
            }
            &.z4{
              z-index: 4;
            } 
            &.z5{
              z-index: 5;
            }
            &.z6{
              z-index: 6;
            } 
      
            &.h1{
              height: $picwid;
              -ms-grid-row-span: 1;
            }
            &.r1{
              grid-row-start: 1;
            }
            &.w1{
              width: $picwid;
              -ms-grid-column-span:  1;
            }
            &.c1{
              grid-column-start: 1;
            }
      
            &.h2{
              height: 2*$picwid;
              -ms-grid-row-span:  2;
            }
            &.r2{
              grid-row-start: 2;
            }
            &.w2{
              width: 2*$picwid;
              -ms-grid-column-span: 2;
            }
            &.c2{
              grid-column-start: 2;
            }
      
            &.h3{
              height: 3*$picwid;
              -ms-grid-row-span: 3;
            }
            &.r3{
              grid-row-start: 3;
            }
            &.w3{
              width: 3*$picwid;
              -ms-grid-column-span:  3;
            }
            &.c3{
              grid-column: 3;
            }
      
            &.h4{
              height: 4*$picwid;
              -ms-grid-row-span:4;
            }
            &.r4{
              grid-row-start: 4;
            }
            &.w4{
              width: 4*$picwid;
              -ms-grid-column-span:  4;
            }
            &.c4{
              grid-column-start: 4;
            }
      
            &.h5{
              height: 5*$picwid;
              -ms-grid-row-span:5;
            }
            &.r5{
              grid-row-start: 5;
            }
            &.w5{
              width: 5*$picwid;
              -ms-grid-column-span:  5;
            }
            &.c5{
              grid-column-start: 5;
            }
      
            &.h6{
              height: 6*$picwid;
              -ms-grid-row-span:6;
            }
            &.r6{
              grid-row-start: 6;
            }
            &.w6{
              width: 6*$picwid;
              -ms-grid-column-span:  6;
            }
            &.c6{
              grid-column-start: 6;
            }
      
            &.h1-5{
              height: 1.5*$picwid;
              
            }
            &.w1-5{
              width: 1.5*$picwid;
              
            }
      
            &.h2-5{
              height: 2.5*$picwid;
              
            }
            &.w2-5{
              width: 2.5*$picwid;
             
            }
      
            &.h3-5{
              height: 3.5*$picwid;
             
            }
            &.w3-5{
              width: 3.5*$picwid;
              
            }
          }
      
        }
      
        }
        &.active{
          transition: all 1s ease-in-out;
          flex:3;
          img{
            transition: all 1s ease-in-out;
            position: relative;
            width:40vw;
            object-fit: cover;
            object-position: 60%;
            
            
          }
          .content{
            transition: width 1s ease-in-out,background-color 1s ease-in-out,height 1s ease-in-out, grid-template-rows 1s ease-in-out, top 1s ease-in-out, padding-right 1s ease-in-out;
            width:45vw;
            padding-right:8vw ;
            height: $allH;
            position: absolute;
            top: 0px;
            display: grid;
            h2{
              transition: font-size 1s ease-in-out,margin  1s ease-in-out,top 1s ease-in-out;
              color: rgb(255, 255, 255);
              margin:auto auto;
              position: relative;
              font-size: 3vw;
              top: -12vw;

            }
            .lincont{
              transition: all 1s ease-in-out;
              position: absolute;
              width:45vw;
              height: $allH;
              justify-content: center;
              .line {
                transition: all 1s ease-in-out;
                position: relative;
                background-color: $white;
                width: 15vw;
                height: 0.2vw;
                left: -2.5vw;
                top: 15vw;
                margin: auto auto;
              }
              p{
                transition: all 1s ease-in-out;
                position: relative;
                text-align:center;
                color: $white;
                opacity: 1;
                font-size: 1vw;
                width: 14.5vw;
                left: -2.5vw;
                top: 17vw;
                margin: auto auto;
                
              }
            }
          }
          
          .contGallary{
            transition: all 1s ease-in-out;
            position:relative;
            opacity: 1;
            top:0px;
            width: 100%;
        
        
            
            .pics{ 
              $picwid:11vw;
              justify-content: center;
              display: grid;
              
              grid-template-columns:$picwid $picwid $picwid $picwid $picwid $picwid;
              
              
              grid-auto-rows: $picwid;
              
              
              .item{
                
                position: relative;
                img{
                  position: absolute;
                  width: inherit;
                  height: inherit;
                  object-fit: cover;
                  padding: 4px;
                  border-radius: 7px;
                
                }
              &.z1{
                z-index: 1;
              }
              &.z2{
                z-index: 2;
              } 
              &.z3{
                z-index: 3;
              }
              &.z4{
                z-index: 4;
              } 
              &.z5{
                z-index: 5;
              }
              &.z6{
                z-index: 6;
              } 
        
              &.h1{
                height: $picwid;
                -ms-grid-row-span: 1;
              }
              &.r1{
                grid-row-start: 1;
              }
              &.w1{
                width: $picwid;
                -ms-grid-column-span:  1;
              }
              &.c1{
                grid-column-start: 1;
              }
        
              &.h2{
                height: 2*$picwid;
                -ms-grid-row-span:  2;
              }
              &.r2{
                grid-row-start: 2;
              }
              &.w2{
                width: 2*$picwid;
                -ms-grid-column-span: 2;
              }
              &.c2{
                grid-column-start: 2;
              }
        
              &.h3{
                height: 3*$picwid;
                -ms-grid-row-span: 3;
              }
              &.r3{
                grid-row-start: 3;
              }
              &.w3{
                width: 3*$picwid;
                -ms-grid-column-span:  3;
              }
              &.c3{
                grid-column: 3;
              }
        
              &.h4{
                height: 4*$picwid;
                -ms-grid-row-span:4;
              }
              &.r4{
                grid-row-start: 4;
              }
              &.w4{
                width: 4*$picwid;
                -ms-grid-column-span:  4;
              }
              &.c4{
                grid-column-start: 4;
              }
        
              &.h5{
                height: 5*$picwid;
                -ms-grid-row-span:5;
              }
              &.r5{
                grid-row-start: 5;
              }
              &.w5{
                width: 5*$picwid;
                -ms-grid-column-span:  5;
              }
              &.c5{
                grid-column-start: 5;
              }
        
              &.h6{
                height: 6*$picwid;
                -ms-grid-row-span:6;
              }
              &.r6{
                grid-row-start: 6;
              }
              &.w6{
                width: 6*$picwid;
                -ms-grid-column-span:  6;
              }
              &.c6{
                grid-column-start: 6;
              }
        
              &.h1-5{
                height: 1.5*$picwid;
                
              }
              &.w1-5{
                width: 1.5*$picwid;
                
              }
        
              &.h2-5{
                height: 2.5*$picwid;
                
              }
              &.w2-5{
                width: 2.5*$picwid;
               
              }
        
              &.h3-5{
                height: 3.5*$picwid;
               
              }
              &.w3-5{
                width: 3.5*$picwid;
                
              }
            }
        
          }
        
          }
        }
        &.clicked{
          
          transition: all 1s ease-in-out;
          $clicW:70vw;
          $clicWC:27+$clicW;
          $clicH:58vw;
          width: $clicW;
          height: $clicH;
          flex:5;
          img{
            transition: all 1s ease-in-out;
            position: relative;
            height: 0;
            
            
            
            
            
          }
          .content{
          
            transition: width 1s ease-in-out,background-color 1s ease-in-out,height 1s ease-in-out, grid-template-rows 1s ease-in-out, top 1s ease-in-out, padding-right 1s ease-in-out;
            width:$clicWC;
            padding-right:3vw ;
            height: $clicH;
            background-color: #231f2000;
            position: absolute;
            top: 0px;
            
            display: grid;
          
            
            h2{
              
              font-size: 0vw;
              
             
            }
            .lincont{
              width: 0;
    /*
              .line{
                width: 0vw;
                height: 0vw;
                
              }
              p{
                
                font-size: 0vw;
                width: 0vw;
                
  
              }*/
            }
          }

          .contGallary{
            transition: all 5s ease-in-out;
            position:relative;
            opacity: 1;
            top:0px;
            width: 100%;
        
        
            
            .pics{ 
              $picwid:14vw;
              justify-content: center;
              display: grid;
              
              grid-template-columns:$picwid $picwid $picwid $picwid $picwid $picwid;
              
              
              grid-auto-rows: $picwid;
              
              
              .item{
                
                position: relative;
                img{
                  transition: all 2s ease-in-out;
                  position: relative;
                  width: inherit;
                  height: inherit;
                  object-fit: cover;
                  padding: 4px;
                  border-radius: 7px;
                  opacity: 1;
                  
                }
              &.z1{
                z-index: 1;
              }
              &.z2{
                z-index: 2;
              } 
              &.z3{
                z-index: 3;
              }
              &.z4{
                z-index: 4;
              } 
              &.z5{
                z-index: 5;
              }
              &.z6{
                z-index: 6;
              } 
        
              &.h1{
                height: $picwid;
                -ms-grid-row-span: 1;
              }
              &.r1{
                grid-row-start: 1;
              }
              &.w1{
                width: $picwid;
                -ms-grid-column-span:  1;
              }
              &.c1{
                grid-column-start: 1;
              }
        
              &.h2{
                height: 2*$picwid;
                -ms-grid-row-span:  2;
              }
              &.r2{
                grid-row-start: 2;
              }
              &.w2{
                width: 2*$picwid;
                -ms-grid-column-span: 2;
              }
              &.c2{
                grid-column-start: 2;
              }
        
              &.h3{
                height: 3*$picwid;
                -ms-grid-row-span: 3;
              }
              &.r3{
                grid-row-start: 3;
              }
              &.w3{
                width: 3*$picwid;
                -ms-grid-column-span:  3;
              }
              &.c3{
                grid-column: 3;
              }
        
              &.h4{
                height: 4*$picwid;
                -ms-grid-row-span:4;
              }
              &.r4{
                grid-row-start: 4;
              }
              &.w4{
                width: 4*$picwid;
                -ms-grid-column-span:  4;
              }
              &.c4{
                grid-column-start: 4;
              }
        
              &.h5{
                height: 5*$picwid;
                -ms-grid-row-span:5;
              }
              &.r5{
                grid-row-start: 5;
              }
              &.w5{
                width: 5*$picwid;
                -ms-grid-column-span:  5;
              }
              &.c5{
                grid-column-start: 5;
              }
        
              &.h6{
                height: 6*$picwid;
                -ms-grid-row-span:6;
              }
              &.r6{
                grid-row-start: 6;
              }
              &.w6{
                width: 6*$picwid;
                -ms-grid-column-span:  6;
              }
              &.c6{
                grid-column-start: 6;
              }
        
              &.h1-5{
                height: 1.5*$picwid;
                
              }
              &.w1-5{
                width: 1.5*$picwid;
                
              }
        
              &.h2-5{
                height: 2.5*$picwid;
                
              }
              &.w2-5{
                width: 2.5*$picwid;
               
              }
        
              &.h3-5{
                height: 3.5*$picwid;
               
              }
              &.w3-5{
                width: 3.5*$picwid;
                
              }
            }
        
          }
        
          }
        }
        &.unclicked{
          transition: all 1s ease-in-out;
          width: 0;
          flex: 0;
        
        
          img{
            transition: all 1s ease-in-out;
            position: relative;
            height: inherit;
            
            width:0;
            object-fit: cover;
            object-position: 60%;
            
            
          }
          
          .content{
            
            transition: all 1s ease-in-out;
            width:0;
            padding-right:0 ;
            height: inherit;
            background-color: #231f203b;
            position: absolute;
            bottom: 0px;
            
            display: grid;
          
            
            h2{
              transition: all 1s ease-in-out;
              color: rgb(255, 255, 255);
              margin:auto auto;
              font-size:0;
            }
          }
        }
        
        
      }
    }
  
  }
  .services-m{
    display: none;
  }
  .gallery{
    padding: 1vw;
    height: 1200px;
    position: relative;
    top: 5vw;
    

    h1{
      text-align: center;
      padding: 3vw;
      font-size: 3vw;
      color: $blue;
    }

    .filterbtn , .filtersec{
      padding: 1vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      button{
        background-color: $purp;
        margin: 1vw;
        $padd:20px;
        padding: $padd;
        padding-top: $padd - $padd/3;
        color: $white;
        font-size: 1vw;
        font-weight: 900;
        border: none;
        cursor: pointer;
        border-radius: 30px;
        transition: 0.5s;
        &:hover ,&.btn-clicked{
          background-color:#d9dde3;
          color: $blue;
        }
      }
    }
    #fullscreen{
      position: fixed;
      height:0vw;
      opacity:0;
      width:100%;
      top: 0vw;
      left: 0;
      z-index: 20;
      transition: all 1s ease-in-out;
      #nextnode , #prevnode ,#close{
        display: none;
        transition: opacity 1s ease-in-out;
      }
      #fullimg{
        width: 0;
        opacity: 0;
        transition: opacity 1s ease-in-out;
      }
      
      #fullvid{
        width: 0;
        opacity: 0;
        transition: opacity 1s ease-in-out;
      }
      &.active{
        position: fixed;
        opacity:1;
        width:100%;
        height:100vw;
        top: 0vw;
        left: 0;
        z-index: 20;
        background-color: rgba(212, 212, 212, 0.8);
        backdrop-filter: blur(30px);
        transition: all 1s ease-in-out;
        display: block;
        justify-content: center;
        text-align: center;
        align-items: center;
        #nextnode , #prevnode ,#close{
          display: block;
          position: absolute;
          font-size: 7vw;
          z-index: 500;
          top:20vw ;
          left: 7vw;
          cursor: pointer;
          user-select: none;
          transition: opacity 1s ease-in-out;
        }
        #close{
          color: $white;
          font-size: 2vw;
          left: 85vw;
          top: 5vw;
        }
        #nextnode{
          left: 83vw;
        }
        #fullimg{
          position: relative;
          top: 8vw;
          width:65%;
          margin: auto auto;
          opacity: 1;
          transition: opacity 1s ease-in-out;
        }
        &.vert{
          #fullimg{
            position: relative;
            top: 8vw;
            width:35%;
            margin: auto auto;
            opacity: 1;
            transition: opacity 1s ease-in-out;
          }
        }
        &.vid{
          #fullimg{
            width: 0;
            opacity: 0;
            transition: opacity 1s ease-in-out;
          }
          #fullvid{
            position: relative;
            top: 9vw;
            width:70%;
            height: 40%;
            opacity: 1;
            transition: opacity 1s ease-in-out;
          }
        
        }
      }

    }
    
    .galImg{
      display: grid;
      grid-template-columns: 30vw 30vw 30vw;
      grid-auto-rows: 20vw;
      position: relative;
      left: 3.5%;
      width: 100%;
      padding-bottom: 2%;
      
      img{
        width: 30vw;
        height: 20vw;
        object-fit: cover;
        transform: scale(1);
        border-radius: 5px;
        padding: 0.1vw;
        cursor: pointer;
        
      }
      img[vertical="1"]{
        height: 40vw;
        width: 30vw;
        grid-row: span 2;
        
      }
      img[showreel="1"]{
        grid-column: span 3;
        grid-column-start: 2;
        grid-column-end: 4;
      }
      .img-expand{
        
        width: 30vw;
        height: 20vw;
        opacity: 1;
        
      }
      .img-shrink{
        width: 0;
        height: 0;
        opacity: 0;
        display: none;
      }
      
    }
  }
  .imagecomp{
    position: relative;
    width: 50%;
    height: 610px;
    margin: auto auto;
    
    img{
      width: 100%;
      height: auto;
      position:absolute;
    }
    #imgbefor1{
      clip-path: polygon(0 0, 50% 0, 50% 100% , 0 100%);
    }
    #imgeslide1{
      position: relative;
      appearance: none;
      width: calc(100%);
      background-color: transparent;
      height: 100%;
      &::-webkit-slider-thumb{
          appearance: none;
          width: 100px;
          height: 100px;
          background: url(../../pics/svg/slider.svg);

      }
    }
  }
  .clientContainer{
    width: 100%;
    text-align: center;
    pointer-events: none;
    *{pointer-events: none;}
    h1{
      margin-bottom: 5vw;
      font-size: 3vw;
      color: $blue;
    }
    .ShadR{
      
      position: absolute;
      background:linear-gradient(to left,rgba(255, 255, 255, 0),$white);
      width: 10vw;
      height: 32vw;
      
      z-index: 10;
    }
    .ShadL{
      position: absolute;
      background:linear-gradient(to right,rgba(255, 255, 255, 0),$white);
      width: 10vw;
      height: 32vw;
      right: 15%;
      z-index: 10;
    }
    .clients{
      width: 70%;
      margin: auto auto;
      margin-bottom: 5vw;
      display: block;
      
        img{
          width:5vw;
          margin: 0 1vw;
          position: relative;
          
        }
        .cl{
          display: flex;
          
          margin-bottom: 4vw;
          overflow: hidden;
          
          
        
          img{
           
            height: auto;
           
            
          }
          img{transition: filter 0.5s ease-in-out;}

          &.one{
            img{
            animation: clientsImages 20s linear  infinite;
              &:hover{
                transition: filter 0.3s ease-in-out;
               
              }
            }
          }

          &.two{
            img{
            animation: clientsImages1 20s linear  infinite;
              &:hover{
               
                
                transition: filter 0.3s ease-in-out;
              }
            }
          }

          &.three{
            img{
            animation: clientsImages 20s linear  infinite;
            
              &:hover{
               
              
                transition: filter 0.3s ease-in-out;
              }
            }
          }

          &.four{
            img{
            animation:  clientsImages1 20s linear   infinite; 
              &:hover{
                transition: filter 0.3s ease-in-out;
               
              }
            }
          }

        }
    }
  }
  .Contact{
    height: 50vw;
    width: 100%;

    .Cform{
      width: 70%;
      height: 70%;
      margin: auto auto;
      position: relative;
      top: 25%;
      border-radius: 20px;
      display: grid;
      grid-template-columns: 15% 40% 40% ;
      grid-template-rows: 12% 12% 12% 12% 31% ;
      h1{
        color: $purp;
        grid-column: 2;
        grid-row: span 5;
        text-align: left;
        font-size: 3.5vw;
        position: relative;
        line-height: 6.8vw;
        top: -1vw;
        p{
          color: $blue;
        }
      }
      #nameF,#numF,#emailF,#textF{
        font-weight: 100;
        border: none;
        height: 3vw;
        background-color: #d9dde3;
        
        color: $blue;
        border-radius: 30px;
        padding-left: 20px;
        transition: background-color 1s ease-in-out ;
        &::placeholder{
          color: $blue;
          font-size: 0.8vw;
        }
        &:focus{
          
          outline: none;
          background-color: $black;
        }

      }
      #nameF{
        width: 20vw;
        grid-row: 1;
        grid-column: 3;
        margin: auto auto;
        
      }
      #numF{
        width: 20vw;
        grid-row: 2;
        grid-column: 3;
        margin: auto auto;
      }
      #emailF{
        width: 20vw;
        grid-row: 3;
        grid-column: 3;
        margin: auto auto;
      }
      
      #textF{
        width: 20vw;
        grid-row: 4;
        grid-column: 3;
        margin: auto auto;
        height: 8vw;
        padding-top: 10px;
        resize: none;
        position: relative;
        top: 1vw;
      }
      #btnF{
        width: 20vw;
        grid-row: 5;
        grid-column: 3;
        margin: auto auto;
        font-weight: 100;
        border-radius: 30px;
        border: #231F20;
        height: 2.5vw;
        background-color: #3f3b7e;
        color: $white;
        font-size: 1vw;
        position: relative;
        top: 2vw;
        
      }

    }
  }
  .services{
    .servContainer{
      .production.Cont{
        &.active{
          .content{
            h2{
              top: -9vw;
            }
          }
        } 
      }
    }
  
  }

  
  #about,#services,#clients{
    position: relative;
    width: 1px;
    height: 1px;
    border: #121212;
    background-color: #231f2000;
    z-index: 100;
    top: 1vw;
  }
  #services{
    top: 5vw;
  }
  #clients{
    top: 5vw;
  }

  footer{
    height: max-content;
    
    width: 100%;
    z-index: 2;
    display: flex;
    .foot{
      margin: auto auto;
      display: flex;
      img{
        margin: auto auto;
        z-index: 3;
        width: 5vw;
      }
      p{
        color:$blue;
        font-size: 1.2vw;
        padding-right: 2vw;
        position: relative;
        top: -0.15vw;
        margin: auto auto;
        font-weight: 900;
      }
    }
  }
  
}



 
/*********************** ARABIC ***********************/



  
html[lang='ar']{
  [lang='en']{
    
    display: none;
  }
  
  *{font-family: "upto";}
  
  
  nav{
    
    .nav-links{
      
      left: -3vw;
      
      padding-bottom: 0.5vw;
      li{
          list-style:none ;
          margin-left: 4em;
          position: relative;
      }
      a{
          position: relative;
          font-size: 1.3em ;
          color: $blue;
          text-decoration: none ;  
          text-transform: capitalize; 
          font-weight: 500;
      }
    }
    .WebColors{
      position: relative;
      display: flex;
      top: 1.1vw;
      left: -5%;

      *{
        width: 20px;
        height: 20px;
        margin-left: 10px;
        cursor: pointer;
      }
      #white{ 
        background-color: $white;
        border: 1px solid $black;
        border-radius: 10%;
      }
      #black{
        background-color: $black;
        border: 1px solid $white;
        border-radius: 10%;
      }
    }
    .language{
      position: relative;
      display: flex;
      text-align: center;
      color: $black;
      top: 0.8vw;
      left: -6%;
      p{
        margin-left: 20px;
        color: $purp;
        
      }
      .EN-lang,.AR-lang{
        cursor: pointer;
      }

    }
  }
  .aboutCont{
    width: 100%;
    padding-bottom: 19vw;
    position: relative;
    justify-content: center;
    z-index: 6;
    background:$white;
    .about{
    position: relative;
    padding: 0;
    top: 5vw;
    margin: 0 auto ;
    width: 50%;
    display: flex;
      #word1{
        font-size: 2vw;
        margin: auto auto;
        position: relative;
        top: -0.8vw;
        line-height: 4.5vw;
        text-align: right;
        left: 0%;
        h1{
          color: $blue;
        }
        p{
          color: $purp;
        }
      }
      #word2{
        //background-color: #dbdfe6;
        border-radius: 20px;
        position: relative;
        left: -3vw;
        padding:1vw 2vw 1.5vw 2vw;
        grid-column-start: 2;
        width: 100%;
        h2{
          font-weight: 100;
          font-size: 1.3vw;
          direction:rtl;
          text-align:justify;
        }
      }
    }
  } 
  .Contact{
    height: 50vw;
    width: 100%;

    .Cform{
      width: 70%;
      height: 70%;
      margin: auto auto;
      position: relative;
      top: 25%;
      border-radius: 20px;
      display: grid;
      grid-template-columns: 10% 34% 50% ;
      grid-template-rows: 12% 12% 12% 12% 31% ;
      h1{
        color: $purp;
        grid-column: 2;
        grid-row: span 5;
        text-align: right;
        font-size: 3.5vw;
        position: relative;
        line-height: 6.8vw;
        top: -1vw;
        p{
          color: $blue;
        }
      }
      #nameF,#numF,#emailF,#textF{
        font-weight: 100;
        border: none;
        height: 3vw;
        background-color: #d9dde3;
        text-align: right;
        color: $blue;
        border-radius: 30px;
        padding-right: 20px;
        transition: background-color 1s ease-in-out ;
        &::placeholder{
          color: $blue;
          font-size: 0.8vw;
        }
        &:focus{
          
          outline: none;
          background-color: $black;
        }

      }
      #nameF{
        width: 20vw;
        grid-row: 1;
        grid-column: 3;
        margin: auto auto;
        
      }
      #numF{
        width: 20vw;
        grid-row: 2;
        grid-column: 3;
        margin: auto auto;
      }
      #emailF{
        width: 20vw;
        grid-row: 3;
        grid-column: 3;
        margin: auto auto;
      }
      
      #textF{
        width: 20vw;
        grid-row: 4;
        grid-column: 3;
        margin: auto auto;
        height: 8vw;
        padding-top: 10px;
        resize: none;
        position: relative;
        top: 1vw;
      }
      #btnF{
        width: 20vw;
        grid-row: 5;
        grid-column: 3;
        margin: auto auto;
        font-weight: 100;
        border-radius: 30px;
        border: #231F20;
        height: 2.5vw;
        background-color: #3f3b7e;
        color: $white;
        font-size: 1vw;
        position: relative;
        top: 2vw;
        
      }

    }
  }
  
  .intro{
    width: 100%;
    height: 42vw;
    display: flex;
    video{
      position: relative;
    
      padding-top: 0vw;
      margin: auto auto;
      width: 100%;
      z-index: 1;
    }
    .introlink{
      a{

        padding-bottom: 0.2vw;
        padding-top: 0.2vw;

      }
    }
  }
  
  [lang='en']{
    
    display: none;
  }
  
}
html[lang='en']{[lang='ar']{display: none;}}



/*********************** COLORS ***********************/



html[data-theme='black'] {
  background-color: $black;
  
  h1{color: $purp;}
  h2{color: $blue;}
  .loader-wrapper {background-color: $black;}
  nav{
    background-color: #231f20b5;
    .nav-links{
      a{
          color: $blue;
      }
    }
    .language{
      color: $black;
      p{
        color: $purp;
      }
    }
  }
  
  .aboutCont{
    background-color: $black;
  } 
  .partical{
    background: $black;
  }
  .services{
    background:$black;
  }
  .gallery{
    h1{
     color: $blue;
    }
    .filterbtn{
      button{
        background-color: $purp;
        color: $white;
        &:hover ,&.btn-clicked{
          background-color:#2b2c2f;
          color: $blue;
        }
      }
    }

    #fullscreen{

      &.active{

        background-color: rgba(0, 0, 0, 0.8);

  
      }

    }
    
  }
  
    
    
  
  .clientContainer{
    background-color: $black;
    .ShadR{
      background:linear-gradient(to left,rgba(255, 255, 255, 0),$black);
    }
    .ShadL{
      background:linear-gradient(to right,rgba(255, 255, 255, 0),$black);
    }
    
  }
  .Contact{
  

    .Cform{
      
      h1{
        color: $purp;
        
        p{
          color: $blue;
        }
      }
      #nameF,#numF,#emailF,#textF{
        
        background-color: #121212;
        
        color: $blue;
    
        &::placeholder{
          color: $blue;
          
        }
        &:focus{
          
         
          background-color: $white;
        }

      }
     
   
      
    
      #btnF{
        border: $black;
        background-color: $purp;
        color: $white;
        
        
      }

    }
  }
 
}

@import "./keys";
@import "./mobile";
@import "./mobile l";
@import "./ipad_l";
@import "./ipad_p";
@import "./ipad_l2";
@import "./ipad_l2 p";
@import "./laptop1";
@import "./desktop";




