*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
$main1:#293241;
$main2:#ff6f00;
$main3:#3d5a80;
$acc1:#ffffff;
$acc2:#adcde0;
$acc3:#3d5a80;
html{
    background-color: $acc2;
}