$main1:#293241;
$main2:#ff6f00;
$main3:#3d5a80;
$acc1:#ffffff;
$acc2:#adcde0;
$acc3:#3d5a80;

body{
    nav{
        background-color: $acc3;
        width: 100%;
        height: 6vw;
        display: flex;
        .logo{
            img{
                position: absolute;
                left: 47%;
                margin: auto auto;
                filter: brightness(1.2);
                width: 6vw; 
                padding: 1vw;
            }
        }
        ul{
            width: 100%;
            display: flex;
            $navpad:20vw;
            padding-left: $navpad;
            padding-right: $navpad;
            li{
                width: 100%;
                display: flex;
                margin: auto auto;
                justify-content: center;
                text-align: center;
                list-style:none ;
                a{
                    font-size: 1.2vw;
                    text-transform: capitalize;   
                    color: $acc1;
                    text-decoration: none;
                    font-weight: 600;
                }
            }
        }
    }
}