* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  background-color: #adcde0;
}
html body nav {
  background-color: #3d5a80;
  width: 100%;
  height: 6vw;
  display: flex;
}
html body nav .logo img {
  position: absolute;
  left: 47%;
  margin: auto auto;
  filter: brightness(1.2);
  width: 6vw;
  padding: 1vw;
}
html body nav ul {
  width: 100%;
  display: flex;
  padding-left: 20vw;
  padding-right: 20vw;
}
html body nav ul li {
  width: 100%;
  display: flex;
  margin: auto auto;
  justify-content: center;
  text-align: center;
  list-style: none;
}
html body nav ul li a {
  font-size: 1.2vw;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}
html body .blogcards {
  width: 100%;
  display: flex;
  padding: 5vw;
  flex-wrap: wrap;
  gap: 10vw;
  justify-content: center;
  text-align: center;
  margin: auto auto;
}
html body .blogcards .card {
  background-color: #293241;
  border-radius: 20px;
  padding: 30px;
  transition: all 0.5s ease-in-out;
}
html body .blogcards .card:hover {
  background-color: #3d5a80;
}
html body .blogcards .card img {
  width: 10vw;
  height: 10vw;
}
html body .blogcards .card p {
  font-size: 1vw;
  margin: auto auto;
  color: #ffffff;
  width: 30vw;
  margin-bottom: 20px;
  text-align: justify;
}
html body .blogcards .card a {
  text-transform: capitalize;
  background-color: #ff6f00;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  font-size: 1vw;
  border-radius: 20px;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}
html body .blogcards .card a:hover {
  background-color: #ffffff;
  color: #ff6f00;
  transition: all 0.5s ease-in-out;
}
html body .post {
  position: relative;
  padding: 20px;
  display: grid;
  justify-content: center;
  width: 100%;
}
html body .post .header {
  display: grid;
  justify-content: center;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  grid-template-columns: 45vw;
  grid-template-rows: max-content max-content max-content;
}
html body .post .header h1 {
  margin: auto auto;
  color: #293241;
  font-size: 2vw;
  grid-row: 1;
  padding: 10px;
}
html body .post .header h2 {
  margin: auto auto;
  color: #3d5a80;
  font-size: 1.6vw;
  grid-row: 2;
  padding: 10px;
}
html body .post .header h3 {
  margin: auto auto;
  color: #ffffff;
  font-size: 1vw;
  grid-row: 3;
  padding: 10px;
  text-align: center;
}
html body .post .header .line {
  width: 100%;
  height: 0.1vw;
  background-color: #ff6f00;
}
html body .post .content {
  position: relative;
  height: auto;
  padding-top: 4vw;
  padding-bottom: 4vw;
  width: 90%;
  margin: auto auto;
}
html body .post .content b {
  font-weight: 900;
  color: #293241;
}
html body .post .content h1 {
  margin: auto auto;
  color: #293241;
  font-size: 1.5vw;
}
html body .post .content h2 {
  color: #ffffff;
  font-size: 1.4vw;
}
html body .post .content h3 {
  color: #3d5a80;
  font-size: 1.1vw;
}
html body .post .content .code {
  width: 100%;
  margin-top: 20px;
  padding: 30px;
  background-color: #293241;
  color: #ff6f00;
  border-radius: 20px;
  margin-bottom: 20px;
  font-size: 1vw;
}
html body .post .content .code .lang {
  color: #ffffff;
  opacity: 80%;
  padding-bottom: 30px;
}
html body footer {
  position: relative;
  bottom: 0;
  background-color: #293241;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 2vw 6vw 6vw 2vw;
  text-align: center;
}
html body footer img {
  width: 3vw;
  grid-column: 2;
  padding: 5px;
  filter: brightness(1.2);
}
html body footer p {
  grid-column: 3;
  margin: auto auto;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */