*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
$main1:#293241;
$main2:#ff6f00;
$main3:#3d5a80;
$acc1:#ffffff;
$acc2:#adcde0;
$acc3:#3d5a80;
html{
    background-color: $acc2;
    body{
        nav{
            background-color: $acc3;
            width: 100%;
            height: 6vw;
            display: flex;
            .logo{
                img{
                    position: absolute;
                    left: 47%;
                    margin: auto auto;
                    filter: brightness(1.2);
                    width: 6vw; 
                    padding: 1vw;
                }
            }
            ul{
                width: 100%;
                display: flex;
                $navpad:20vw;
                padding-left: $navpad;
                padding-right: $navpad;
                li{
                    width: 100%;
                    display: flex;
                    margin: auto auto;
                    justify-content: center;
                    text-align: center;
                    list-style:none ;
                    a{
                        font-size: 1.2vw;
                        text-transform: capitalize;   
                        color: $acc1;
                        text-decoration: none;
                        font-weight: 600;
                    }
                }
            }
        }
        .blogcards{
            width: 100%;
            display: flex;
            padding: 5vw;
            flex-wrap: wrap;
            gap: 10vw;
            justify-content: center;
            text-align: center;
            margin: auto auto;
            .card{
                background-color: $main1;
                border-radius: 20px;
                padding: 30px;
                transition: all 0.5s ease-in-out;
                &:hover{
                    background-color: $acc3;
                }
                img{
                    width: 10vw;
                    height: 10vw;}
                p{
                    font-size: 1vw;
                    margin:  auto auto;
                    color: $acc1;
                    width: 30vw;
                    margin-bottom: 20px;
                    

                    text-align: justify;
                }
                a{
                    text-transform: capitalize;
                    background-color: $main2;
                    color: $acc1;
                    text-decoration: none;
                    padding: 10px;
                    font-size: 1vw;
                    border-radius: 20px;
                    font-weight: 600;
                    transition: all 0.5s ease-in-out;
                    &:hover{
                        background-color: $acc1;
                        color: $main2;
                        transition: all 0.5s ease-in-out;
                    }
                }
            }
        }
        .post{
            position: relative;
            padding: 20px;
            display: grid;
            justify-content: center;
            width: 100%;
            .header{
                display: grid;
                justify-content: center;
                width: 100%;
                height: max-content;
                grid-template-columns: 45vw;
                grid-template-rows: max-content max-content max-content;
                h1{
                    margin: auto auto;
                    color: $main1;
                    font-size: 2vw;
                    grid-row: 1;
                    padding: 10px;
                }
                h2{
                    margin: auto auto;
                    color: $main3;
                    font-size: 1.6vw;
                    grid-row: 2;
                    padding: 10px;

                }
                h3{
                    margin: auto auto;
                    color: $acc1;
                    font-size:1vw;
                    grid-row: 3;
                    padding: 10px;
                    text-align: center;
                }

                .line{
                    width: 100%;
                    height: 0.1vw;
                    background-color: $main2;
                }
            }
            .content{
                b{
                    font-weight: 900;
                    color: #293241;
                }
                position: relative;
                height: auto;
                padding-top: 4vw;
                padding-bottom: 4vw;
                width: 90%;
                margin: auto auto;
                h1{
                    margin: auto auto;
                    color: $main1;
                    font-size: 1.5vw;
                    
                }
                h2{
                    color: $acc1;
                    font-size: 1.4vw;
                }
                h3{
                    color: $main3;
                    font-size: 1.1vw;
                }
                .code{
                    width: 100%;
                    margin-top: 20px;
                    padding: 30px;
                    background-color: $main1;
                    color: $main2;
                    border-radius: 20px;
                    margin-bottom: 20px;
                    font-size: 1vw;
                    .lang{
                        
                        color: $acc1;
                        opacity: 80%;
                        padding-bottom: 30px;
                    }
                }
            }
        }
        footer{
            position: relative;
            bottom: 0;
            background-color: #293241;
            width: 100%;
            display: grid;
            justify-content: center;
            grid-template-columns: 2vw 6vw 6vw 2vw;
            text-align: center;
            img{
                width: 3vw;
                grid-column: 2;
                padding: 5px;
                filter: brightness(1.2);
            }
            p{
                grid-column: 3;
                margin: auto auto;
                color: $acc1;
            }
        }
    }
}